page-login {
    .logo{
        text-align: center;
        margin-top: 25px;
    }

    #txt_email{
        border-radius: 35px;
        margin-top: 25%;
        text-align: center;
    }

    #txt_senha{
        border-radius: 36px;
        margin-top: 5px
    }

    #lista_login{
        width: 87%;
        margin-left: 22px;
        margin-top: -31px;
    }

    #btn_login{
        margin-top: 5px;
        margin-left: 34%;
    }
    

    #btn_google{
        margin-left: 10px;
    }

    #icons{
        color: #FFF;
        margin-top: 5px;
        margin-left: 35%;
        font-size: 30px; 
    }

    .content{
        background-image: linear-gradient(to bottom right, #009736 , #0055A8); 
    }
    


    
}
