<ion-content padding>
  <div class="logo">
    <img src="assets/imgs/fb-logo.png" />
  </div>

  <ion-list id="lista_login">
    <ion-item id="txt_email">
      <ion-input placeholder="Email" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item id="txt_senha">
      <ion-input type="password" placeholder="Senha" [(ngModel)]="senha"></ion-input>
    </ion-item>
    <br>

    <button ion-button color="light" (click)="entrar(email, senha)" id="btn_login" round>Login</button>

    <p style="text-align: center; color:#fff">Ou</p>

    <div id="icons">
      <ion-icon name="logo-facebook" id="btn_fb" (click)="loginFB()"></ion-icon>
      <ion-icon name="logo-googleplus" id="btn_google" (click)="loginGoogle()"></ion-icon>
    </div>

    <p style="text-align: center; color: #fff">Não tem login? <a style="color: #69C0E6" (click)="cadastro()">Resgistre-se</a> </p>
  </ion-list>


</ion-content>