<ion-header>
  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container evento-list">
    
      <ion-item>
        <ion-label>Título</ion-label>
        <ion-input type="text" [(ngModel)]="titulo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Descrição</ion-label>
        <ion-textarea [(ngModel)]="descricao"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Local do Evento</ion-label>
        <ion-input type="text" [(ngModel)]="local"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>Evento Exclusivo FB</ion-label>
        <ion-toggle [(ngModel)]="fb" checked="false"></ion-toggle>
      </ion-item>
      
      <ion-item>
        <ion-label>Data do Evento</ion-label>
        <ion-datetime displayFormat="DD MM YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="data"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Hora de Início do Evento</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="horaInicio"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Hora de Término do Evento</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="horaFim"></ion-datetime>
      </ion-item>

      
      <ion-item>
        <ion-label>Tolerância de Entrada</ion-label>
        <ion-datetime displayFormat="mm" pickerFormat="mm" [(ngModel)]="toleranciaEntrada"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Tolerância de Saída</ion-label>
        <ion-datetime displayFormat="mm" pickerFormat="mm" [(ngModel)]="toleranciaEntrada"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Quantidade de Vagas</ion-label>
        <ion-input type="number" [(ngModel)]="vagas"></ion-input>
      </ion-item>
      
      <button ion-button type="submit" block >Cadastrar</button>
    
      
  </div>
</ion-content>
