<ion-header>
  <ion-navbar>
    <ion-title>Detalhes do Evento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="detalhesEvento">
    <img src="{{detalhesEvento.urlEvento}}" />
    <ion-card-content>
      <ion-card-title style="color:black">
        {{detalhesEvento.Nome}}
      </ion-card-title>
      <h2>
        {{detalhesEvento.Descricao}}
      </h2><br><p>
        <ion-icon name="pin"> Farias Brito</ion-icon>
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start (click)="inscrever()">
          <ion-icon name="star"></ion-icon>
          Inscrever-se
        </button>
      </ion-col>

      <ion-col text-center>
        <button ion-button clear small color="sencodary" icon-start (click)="compartilharEvento()">
          <ion-icon name="share-alt"></ion-icon>
          Compartilhar
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
