page-home {
  .imagemUser {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    float: right;
  }

  .imagemCard {
    filter: brightness(35%);
    position: absolute;
  }

  #t {
    width: 55px;
    height: 59px;
    background-color: #2e3192;
    -webkit-box-shadow: 10px 10px 5px black;
    box-shadow: 10px 10px 5px black;
    margin-top: 4px;
    position: relative;
    margin-left: 223px;
    border-radius: 11pt;
    text-align: center;
    color: #fff;
    padding: 6px;
    float: right;
    margin-right: 14px;
  }
}

.fakeItem {
  .tes {
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    position: relative;
    background-repeat: no-repeat;

    height: 1em;

    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: mymove;
    animation-timing-function: linear;
  }

  @keyframes mymove {
    0% {
      background-position: -468px 0;
    }

    100% {
      background-position: 468px 0;
    }
  }

  @-webkit-keyframes mymove {
    0% {
      background-position: -468px 0;
    }

    100% {
      background-position: 468px 0;
    }
  }

  .tes {
    height: 104px;
    margin: 10px;
    background-color: #f6f7f8;
  }
}
