<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons left> <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button> </ion-buttons>
    <div class="imagemUser" *ngIf="user">
      <ion-avatar item-end> <img src="{{user.img}}"> </ion-avatar>
    </div>
    <div class="imagemUser" *ngIf="!user"> <button ion-button icon-only (click)="paginaLogin()"
        style="background-color: transparent;">
        <ion-icon name="log-in" style="margin-top: -4px; font-size: 27px; padding-left: 5px;"></ion-icon>
      </button> </div>
    <ion-title style="margin-top:8px;">FB Eventos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-searchbar *ngIf="isSearchOpened" showCancelButton="true" (ionInput)="filtrar($event)"
    (ionCancel)="isSearchOpened=false" placeholder="Pesquisar"></ion-searchbar>
  <ion-buttons end> <button ion-button icon-only *ngIf="!isSearchOpened" (click)="isSearchOpened=true">
      <ion-icon name="search"></ion-icon>
    </button> </ion-buttons>
  <ion-list *ngIf="!resultados">
    <div *ngFor='let fake of fakeUsers' class="fakeItem">
      <ion-card class="tes"> </ion-card>
    </div>
  </ion-list>
  <div *ngIf="resultados">
    <ion-card *ngFor="let resultado of resultados" (click)="detalhesEvento(resultado.Id)"> <img class="imagemCard"
        src="{{resultado.urlEvento}}" />
      <div class="card-title">{{resultado.Nome}} </div>
      <div class="card-subtitle">{{ pequenaDescricao(resultado.Descricao) }} ...</div>
      <div id="t"> {{diaSemana(resultado.DataEventoInicio)}}.<br>{{retornaDia(resultado.DataEventoInicio)}}<h5
          style="margin-top: -2px; font-size: 9px; color: #fff">{{retornaMes(resultado.DataEventoInicio)}}</h5>
      </div>
    </ion-card>
  </div>
</ion-content>