
<ion-menu [content]="content">
    <ion-content padding>
        <ion-icon name="exit" (click)="sair()">  Sair</ion-icon>

    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>

