.content {
  //background-image: linear-gradient(to bottom right, #dadada, #dadada);
  background-color: #fff;
}

.card-background-page {
  
  ion-card {
    position: relative;
    border-radius: 5pt;
    height: 104px;
  }
  .capa {
    position: absolute;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .card-title {
    position: absolute;
    bottom: 39%;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 12pt;
    font-weight: bold;
    color: #fff;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-subtitle {
    position: absolute;
    bottom: 18%;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 10pt;
    color: #fff;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
