<ion-header>
  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container evento-list">

    <form [formGroup]="formUsuario">
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>E-mail</ion-label>
        <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Telefone</ion-label>
        <ion-input type="text" formControlName="telefone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>
    </form>

    <!-- <ion-item>
        <ion-label>Confirmar Senha</ion-label>
        <ion-input type="password" formControlName="cSenha"></ion-input>
      </ion-item> -->

    <ion-item>
      <ion-label>Sou FB</ion-label>
      <ion-toggle [(ngModel)]="usuarioFb" checked="false"></ion-toggle>
    </ion-item>

    <button ion-button type="submit" block (click)="cadastrarUsuario()">Cadastrar</button>


  </div>
</ion-content>